# Google Maps API Key
# --------------------
# You need to create a Google Maps API key and enable the following APIs:
# - Maps JavaScript API
# - Places API
#
# For more information, see:
# https://developers.google.com/maps/documentation/javascript/get-api-key
#
# Once you have your API key, add it here.

REACT_APP_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE
